<form class="well form-horizontal" role="form">
    <div class="form-group">
        <label class="controls-pane col-sm-3"><input type="checkbox" value="dataDrivenCheckbox"> 4.2 Creating a data-driven test using JUnit</label>
        <label class="controls-pane col-sm-3"><input type="checkbox" value="csvCheckbox"> 4.3 Reading test data from a CSV file using JUnit</label>
        <label class="controls-pane col-sm-3"><input type="checkbox" value="excelCheckbox"> 4.4 Reading test data from an Excel file using JUnit and Apache POI</label>
        <label class="controls-pane col-sm-3"><input type="checkbox" value="accessCheckbox"> 4.5 Reading test data from a database using JUnit and JDBC</label>
    </div>
    <div class="well">
        <iframe id="bmiCal" style="width:493px; height:517px; border:0; overflow: 0;" frameborder="0" draggable="false" scrolling="no" src="http://www.bodyengine.com/app/bmi/bmi.html?w=true&v=1"></iframe>
        <p style="font-family: verdana; font-size: 11px;">Powered by <a href="http://www.bodyengine.com/bmi-calculator.html">BMI Calculator</a></p>
    </div>
</form>
