<!-- selenium-datadriven-introduction -->
<form class="well form-horizontal" role="form">
    <div class="form-group">
        <label class="controls-pane col-sm-2">Hello Data-driven testing!</label>
    </div>
    <div class="well">
        <code>
            Testing can be very repetitive, not only because we must run the same test over and over <br />
            again, but also because many of the tests are only slightly different. For example, we might <br />
            want to run the same test with different test inputs or test conditions and verify that the actual <br />
            output varies accordingly. Each of these tests would consist of the exact same steps; however, <br />
            what differs is the test data. <br /><br />
            We can use the data-driven approach to achieve this. The data-driven testing approach is a <br />
            widely used methodology in software test automation.<br /><br />


           <p>Benefits of data-driven testing</p>
            <ul>
                <li>With data-driven tests, we can get greater test coverage while minimizing the amount<br />
                    of test code we need to write and maintain.</li>
                <li>Data-driven testing makes creating and running a lot of test conditions very easy.</li>
                <li>Data-driven tests require no programming skills. Even testers with limited knowledge <br />
                    of automation can quickly create tables on their own.</li>
                <li>Test data can be designed and created before the application is ready for testing.</li>
                <li>Data tables can also be used in manual testing.</li>
            </ul>

            In the data-driven-approach, we can maintain the test data in form tables in a variety of <br />
            formats, such as CSV files, Excel spreadsheets, and databases.
        </code>
    </div>
</form>
<!-- /#selenium-datadriven-introduction.html -->
