<!-- selenium-flow-introduction -->
<form class="well form-horizontal" role="form">
    <div class="form-group">
        <label class="controls-pane col-sm-2">Hello Selenium Test Flow!</label>
    </div>
    <div class="well">
        <code>
            When tests are run, the application may not always respond with the same speed.<br />
            For example, it might take a few seconds for a progress bar to reach 100 percent, a status <br />
            message to appear, a button to become enabled, and a window or pop-up message to open.<br />
            <br />
            You can handle these anticipated timing problems by synchronizing your test to ensure<br />
            that Selenium WebDriver waits until your application is ready before performing a certain <br />
            step. There are several options that you can use to synchronize your test. Selenium RC has <br />
            various waitFor methods; however, being a pure web automation API, Selenium WebDriver <br />
            provides very limited methods for synchronization. In this chapter, you will see how to use <br />
            the WebDriverWait class to implement synchronization in tests.\
            <br /><br />
            Pop ups and Alerts<br />
            <br />
            For building a great user interface, developers use features similar to desktop applications <br />
            in the form of pop-up windows and alerts. While testing complex workflows, tests need to flow <br />
            from the browser window to a pop-up window in order to alert the user and perform operations <br />
            as needed. This chapter also explains common issues that pertain to the handling of pop-up <br />
            windows and alerts, and how best we can use Selenium WebDriver API for this.
        </code>
    </div>
</form>
<!-- /#selenium-flow-introduction.html -->
