<!-- selenium-flow -->
<div class="panel-group">
    <div class="panel-default">
        <div class="panel-heading">
            <h4 class="panel-title well-sm">
                <a ui-sref=".introduction">3.1 Introduction </a>
                |
                <a ui-sref=".implicitwait">3.2 Synchronizing a test with an implicit wait</a>
                |
                <a ui-sref=".explicitwait">3.3 Synchronizing a test with an explicit wait</a>
                |
                <a ui-sref=".customexpectedconditions">3.4 Synchronizing a test with custom-expected conditions</a>

            </h4>
            <div ui-view>

            </div>
        </div>
    </div>
</div>
<!-- /#selenium-flow.html -->
