<form class="well form-horizontal" role="form">
    <div class="form-group">
        <label class="controls-pane col-sm-4">Synchronizing a test with custom-expected conditions</label>
    </div>
    <div class="well">
        <div class="btn-group">
            <a href=""><button class="btn btn-success" id="page1" type="button" class="btn btn-primary">Page 1</button></a>
            <a href=""><button class="btn btn-success" id="page2" type="button" class="btn btn-primary">Page 2</button></a>
            <a href=""><button class="btn btn-success" id="page3" type="button" class="btn btn-primary">Page 3</button></a>
            <a href=""><button class="btn btn-success" id="page4" type="button" class="btn btn-primary">Page 4</button></a>
        </div>
    </div>
</form>