<!-- ANGULAR PAGE -->
<div ng-show="authenticated" class="well">
    <img src="" align="right" width="103" height="103">
    <h2>Angular Page</h2>
    <br>
    <p>Let's practise :)</p>
</div>
<div class="btn-group">
    <button ui-sref=".basics" class="btn btn-danger">1. Basics</button>
    <button ui-sref=".directives" class="btn btn-danger">2. Directives</button>
    <button ui-sref=".owndirectives" class="btn btn-danger">3. Own-Directives</button>
</div>
<div ui-view class="well">

</div>
<!-- /#angular.html -->