<!-- SELENIUM PAGE -->
<div ng-show="authenticated" class="well">
    <img src="" align="right" width="103" height="93">
    <h2>Selenium Page</h2>
    <br>
    <p>Let's practise :)</p>
</div>
<div class="btn-group">
    <button ui-sref=".locating" class="btn btn-success">1. Locating Elements</button>
    <button ui-sref=".api" class="btn btn-success">2. Working with Selenium API</button>
    <button ui-sref=".flow" class="btn btn-success">3. Controlling the Test Flow</button>
    <button ui-sref=".datadriven" class="btn btn-success">4. Data-driven Testing</button>
</div>
<div ui-view class="well">

</div>
<!-- /#selenium.html -->