<!-- SELENIUM PAGE -->
<div ng-show="authenticated" class="well">
    <img src="https://raw.githubusercontent.com/maciekp85/test-app/52dd49bd8862882e2a206fb68824fb5b24818468/src/main/webapp/assets/images/selenium_logo.png" align="right" width="103" height="93" alt="selenium logo">
    <h2>Selenium Page</h2>
    <br>
    <p>Let's practise :)</p>
</div>
<div class="btn-group">
    <button ui-sref=".locating" class="btn btn-success">1. Locating Elements</button>
    <button ui-sref=".api" class="btn btn-success">2. Working with Selenium API</button>
    <button ui-sref=".flow" class="btn btn-success">3. Controlling the Test Flow</button>
    <button ui-sref=".datadriven" class="btn btn-success">4. Data-driven Testing</button>
    <button ui-sref=".pom" class="btn btn-success">5. Using the Page Object Model</button>
</div>
<div ui-view class="well">

</div>
<!-- /#selenium.html -->