<!-- angular-directives -->
<div class="panel-group" id="angular-directives.html">
    <div class="panel-default">
        <div class="panel-heading">
            <h4 class="panel-title well-sm">
                <a ui-sref=".a">2.1 a</a>
                |
                <a ui-sref=".form">2.2 form</a>
                |
                <a ui-sref=".ngbind">2.3 ng-bind</a>
                |
                <a ui-sref=".ngcloak">2.4 ng-cloak</a>
                |
                <a ui-sref=".ngchange">2.5 ng-change</a>
                |
                <a ui-sref=".ngrepeat">2.6 ng-repet</a>
                |
                <a ui-sref=".ngmouse">2.7 ng-mouse</a>
                |
                <a ui-sref=".ngscript">2.8 ng-script</a>
            </h4>
        </div>
        <div ui-view>
        </div>
    </div>
</div>
<!-- /#angular-directives.html -->