<form class="well form-horizontal" role="form">
    <div class="form-group">
        <label class="controls-pane col-sm-3"><input type="checkbox" value="exposingElementsCheckbox"> 5.2 Using the PageFactory class for exposing elements from a page</label>
        <label class="controls-pane col-sm-3"><input type="checkbox" value="exposingOperationCheckbox"> 5.3 Using the PageFactory class for exposing an operation on a page</label>
    </div>
    <div class="well">
        <iframe id="bmiCal" style="width:493px; height:517px; border:0; overflow: 0;" frameborder="0" draggable="false" scrolling="no" src="http://www.bodyengine.com/app/bmi/bmi.html?w=true&v=1"></iframe>
        <p style="font-family: verdana; font-size: 11px;">Powered by <a href="http://www.bodyengine.com/bmi-calculator.html">BMI Calculator</a></p>
    </div>
</form>
