<section >
    <div class="jumbotron">
        <div class="container">
            <h2>Products</h2>
            <p>All products allowed in our test store!</p>
        </div>
    </div>
    <div>
        To process order <a href="" ng-click="ClickMeToRedirect()">click here!</a>
    </div>
</section>
<section class="container">
    <div>
        <button ui-sref="spring" class="btn btn-default">Test Store</button><br><br>
        <div class="btn-group">
            <button class="btn btn-primary" ng-click="ClickMeToShowAllProducts()">Show all</button>
            <button class="btn btn-primary" ng-click="ClickMeToShowProductsByCategory('tablet')">tablet</button>
            <button class="btn btn-primary" ng-click="ClickMeToShowProductsByCategory('iphone')">iphone</button>
        </div>
        <br><br>
    </div>
</section>
<section class="container">
    <div class="row">
        <div ng-repeat='product in products' class="col-sm-6 col-md-4" style="padding-bottom: 15px">
            <div class="thumbnail">
                <div  class="caption">
                    <h3>{{product.name}}</h3>
                    <p>{{product.description}}</p>
                    <p>{{product.unitPrice}}PLN</p>
                    <p>Liczba sztuk w magazynie: {{product.unitsInStock}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
