<!-- SPRING PAGE -->
<div ng-show="authenticated">
    <section >
        <div class="jumbotron">
            <div class="container">
                <h1>Products</h1>
                <p>Wszystkie produkty dostępne w naszym sklepie</p>
            </div>
        </div>
        <p>{{model.greeting}}</p>
        <p>{{model.tagline}}</p>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4" style="padding-bottom: 15px">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{products.product.name}}</h3>
                        <p>{{products.product.description}}</p>
                        <p>{{products.product.unitPrice}}PLN</p>
                        <p>Liczba sztuk w magazynie: {{products.product.unitsInStock}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /#spring.html -->