<!-- SPRING PAGE -->
<div ng-show="authenticated">
    <div ui-view>
        <section >
            <div class="jumbotron">
                <div class="container">
                    <h2>Test Store</h2>
                    <p>The best test store in the world!</p>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="row">
                <div>
                    <button ui-sref=".products" class="btn btn-default">Products</button>
                    <button ui-sref=".customers" class="btn btn-default">Customers</button><br><br>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- /#spring.html -->