<!-- selenium-extending-introduction -->
<form class="well form-horizontal" role="form">
    <div class="form-group">
        <label class="controls-pane col-sm-2">Hello Extending Selenium!</label>
    </div>
    <div class="well">
        <code>
            Selenium WebDriver provides a highly flexible and robust API to extend the features and commands <br />
            and add customization for building a scalable test automation framework. This chapter covers <br />
            some of the important recipes for extending Selenium WebDriver for various practical scenarios.<br /><br />
            In this chapter we will write Selenium WebDriver extensions that support web tables, object maps, <br />
            and image comparison features.<br /><br />
            We will also build an extension for jQuery UI control. You can use this pattern for implementing<br />
            support for third party or custom controls used in your application by hiding technical details<br />
            from the tests. This makes test development a lot easier.
        </code>
    </div>
</form>
<!-- /#selenium-extending-introduction.html -->
