<div class="well" role="form">
    <div class="form-group">
        <label class="controls-pane">Locating elements by CLASS</label>
    </div>
    <div class="well typography">
        <h1 class="h1">Bootstrap heading (36px)</h1>
        <h2 class="h2">Bootstrap heading (30px)</h2>
        <h3 class="h3">Bootstrap heading (24px)</h3>
        <h4 class="h4">Bootstrap heading (18px)</h4>
        <h5 class="h5">Bootstrap heading (14px)</h5>
        <h6 class="h6">Bootstrap heading (12px)</h6>
    </div>
</div>