<!-- selenium-locating -->
<div class="panel-group">
    <div class="panel-default">
        <div class="panel-heading">
            <h4 class="panel-title well-sm">
                <a ui-sref=".introduction">1.1 Introduction </a>
                |
                <a ui-sref=".id">1.2 By ID </a>
                |
                <a ui-sref=".name">1.3 By name</a>
                |
                <a ui-sref=".class">1.4 By class</a>
                |
                <a ui-sref=".linktext">1.5 By link text</a>
                |
                <a ui-sref=".findelements">1.6 Using findElements</a>
                |
                <a ui-sref=".partialtext">1.7 By partial text</a>
                |
                <a ui-sref=".tagname">1.8 By tag name</a>
                |
                <a ui-sref=".css">1.9 Using CSS selectors</a>
                |
                <a ui-sref=".xpath">1.10 Using XPath selectors</a>
                |
                <a ui-sref=".text">1.11 Using text</a>
                |
                <a ui-sref=".advancedcss">1.12 Using advanced CSS selectors</a>
                |
                <a ui-sref=".jquery">1.13 Using jQuery selectors</a>
                |
                <a ui-sref=".table">1.14 Table rows and cells</a>
                |
                <a ui-sref=".childelements">1.15 Child elements in a table</a>

            </h4>
            <div ui-view>

            </div>
        </div>
    </div>
</div>
<!-- /#selenium-locating.html -->
