<div class="well" role="form">
    <div class="form-group">
        <label class="controls-pane">Locating elements using CSS selectors</label>
    </div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-6">
                <input class="form-control" name="username" id="login" type="text" placeholder="Enter login">
            </div>
        </div>
    </form>
    <img src="" class="img-responsive" alt="picture with alt">
    <img src="" class="img-responsive">
    <br>
    <button id="firstButtonPrimary" type="button" class="btn btn-primary">Primary</button>
    <div>
        <input id="secondButtonValue" type="button" class="btn btn-success" value="ButtonValue">
    </div>
    <input id="thirdButtonRocketPower" type="button" class="btn btn-success" value="RocketPower">
</div>