<!-- selenium-locating-introduction -->
<form class="well form-horizontal" role="form">
    <div class="form-group">
        <label class="controls-pane col-sm-2">Hello Selenium World!</label>
    </div>
    <div class="well">
        <code>
            // Optional, if not specified, WebDriver will search your path for chromedriver.<br />
            System.setProperty("webdriver.chrome.driver", "/path/to/chromedriver");<br /><br />

            WebDriver driver = new ChromeDriver();<br />
            driver.findElement(By.id("helloSeleniumWorld"));
        </code>
    </div>
</form>
<!-- /#selenium-locating-introduction -->
