<div class="well" role="form">
    <div class="form-group">
        <label class="controls-pane">Locating elements using findElements method</label>
    </div>
    <div>
        <ul class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">Pages
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="http://onet.pl" target="_blank">Onet</a></li>
                <li><a href="http://interia.pl" target="_blank">Interia</a></li>
                <li><a href="http://wp.pl" target="_blank">Wp</a></li>
            </ul>
        </ul>
    </div>
</div>