<div class="well">
    <div class="form-group">
        <label class="controls-pane">Locating elements using advanced CSS selectors</label>
    </div>

    <form id="loginForm" name="loginForm" class="form-horizontal">
        <label class="col-sm-1" for="username">UserName:</label>
        <input type="text" class="username" value="Maciek" /><br><br>

        <label class="col-sm-1" for="password">Password: </label>
        <input type="password" class="password" /><br><br>

        <input class="col-sm-1" name="login" type="submit" value="login" />
    </form>

    <div class="form-group">
    </div>

    <div id="top5" class="form-group">
        <br><p>Description for Product 1</p>
        <p>Description for Product 2</p>
        <p>Description for Product 3</p>
    </div>

    <div>
        <input enabled value="Enabled" />
        <input disabled="disabled" value="Disabled" />
        <input checked="checked" type="checkbox" value="Checked">Checked
    </div>

</div>