<!-- selenium-locating-introduction -->
<div class="panel-group">
    <div class="panel-default">
        <div class="panel-heading">
            <h4 class="panel-title well-sm">
                <a ui-sref=".introduction">1.1 Introduction </a>
                |
                <a ui-sref=".id">1.2 By ID </a>
                |
                <a ui-sref=".name">1.3 By name</a>
                |
                <a ui-sref=".class">1.4 By class</a>

            </h4>
            <div ui-view>

            </div>
        </div>
    </div>
</div>
<!-- /#selenium-locating-introduction.html -->
