<div class="well" role="form">
    <div class="form-group">
        <label class="controls-pane">Locating elements using XPath</label>
    </div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-6">
                <label class="controls-pane">Username:</label>
                <input class="form-control" name="username" id="username" type="text" placeholder="Enter login">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label class="controls-pane">Password:</label>
                <input class="form-control" name="password" id="password" type="text" placeholder="Enter password">
            </div>
        </div>
        <div class="col-sm-2 btn-group ">
            <div class="btn-group">
                <input id="previousButton" type="submit" class="btn btn-danger" value="Previous" alt="Previous">
            </div>
            <div class="btn-group">
                <input id="nextButton" type="submit" class="btn btn-success" value="Next">
            </div>
            <div class="btn-group">
                <input id="loginButton" type="button" class="btn btn-primary" value="Login">
            </div>
        </div>
        <div class="form-group">

        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-1">
                    <img src="" class="form-control img-responsive" alt="picture 1 with alt">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <img src="" class="form-control img-responsive" alt="picture 2 with alt">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <img src="" class="form-control img-responsive">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label id="maciek_123">Maciek</label>
            </div>
            <div>
                <label id="a_1_krzysiek">Krzysiek</label>
            </div>
            <div>
                <label id="panel_login_robert_textfield">Robert</label>
            </div>
        </div>
        <table id="myTable" class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Qty</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Product 1</td>
                    <td>$100</td>
                    <td><input value="12"></td>
                </tr>
                <tr>
                    <td>Product 2</td>
                    <td>$150</td>
                    <td><input value="5"></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>