<div class="well" role="form">
    <div class="form-group">
        <label class="controls-pane">Locating elements using text</label>
    </div>
    <div class="well">
        <table id="myTable2" class="table">
            <thead>
                <tr>
                    <th>Items</th>
                    <th>Price</th>
                    <th>Qty</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Item 1</td>
                    <td>$50</td>
                    <td><input value="6"></td>
                </tr>
                <tr>
                    <td>Item 2</td>
                    <td>$60</td>
                    <td><input value="12"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>