<!-- selenium-locating-id -->
<form class="well form-horizontal" role="form">
    <div class="form-group">
        <label class="controls-pane col-sm-2">Locating elements by ID</label>
    </div>
    <div class="well">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-1" for="login">Login:</label>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <input class="form-control" id="login" type="text" placeholder="Enter login">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1" for="login">Password:</label>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <input class="form-control" id="password" type="password" placeholder="Enter password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <button class="btn btn-info" id="clickMeButton">Click me!</button>
                </div>
            </div>
        </form>
    </div>
</form>
<!-- /#selenium-locating-id -->
