<!-- angular-basics -->
<div class="panel-group">
    <div class="panel-default">
        <div class="panel-heading">
            <h4 class="panel-title well-sm">
                <a ui-sref=".firstapp">1.1 First app </a>
                |
                <a ui-sref=".scope">1.2 Scope </a>
                |
                <a ui-sref=".di">1.3 DI</a>
                |
                <a ui-sref=".databinding">1.4 Data binding</a>
                |
                <a ui-sref=".expressions">1.5 Angular expressions</a>
            </h4>
            <div ui-view>

            </div>
        </div>
    </div>
</div>
<!-- /#angular-basics.html -->
